*.iml
.gradle
.idea
**/build/
!src/**/build/
local.properties
captures

.DS_Store
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

.kotlin
.externalNativeBuild
.cxx
